:root {
  --text: #13131a;
  --background: #ededf2;

  --gray-50: #f7f9fa;
  --gray-100: #f0f0f5;
  --gray-200: #afb2b1;
  --gray-500: #737380;
  --gray-800: #41414d;

  --green-500: #04d361;

  --red-300: #f53b5a;
  --red-400: #f32245;
  --red-500: #e02041;
  --red-800: #a81830;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: var(--background);
  color: var(--text);
  svg {
    font-size: 1rem;
  }
}
button {
  cursor: pointer;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
